groq 
langchain-groq 
langchain-community 
langchain-text-splitters 
langchain-huggingface 
pypdf 
chromadb 
sentence-transformers 
python-dotenv 
gradio 
docx2txt 
fastapi 
uvicorn 
python-multipart
